html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  top: 0;
  height: 75px;
}
.nav-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 15px 5px;
}
div.dropdown-elements {
  position: absolute;
  right: 25px;
  top: 18px;
}
.dropdown-elements a {
  margin: 30px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.dropdown-btn {
  margin-right: 60px;
  background-color: #aad236;
  color: white;
  padding: 9px 34px;
  border-radius: 4px;
  border: 1px solid #aad236;
  margin-left: 10px;
}
.demo-cls {
  position: relative;
  right: 450px;
  top: 5px;
  padding-bottom: 30px;
}

.dropdown-wrapper {
  border: 1px solid white;
  position: absolute;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 4px 4px rgba(61, 60, 60, 0.274);
  top: 50px;
  right: 420px;
  z-index: +1;
  display: none;
  background-color: white;
}

.items {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: medium;
  margin: 8px;
  border-bottom: 1px solid rgba(82, 81, 81, 0.356);
}
.dropdown-elements:hover .dropdown-wrapper {
  display: block;
  position: absolute;
  z-index: +10;
}

main {
  text-align: center;
  overflow: hidden;
}
.display-words {
  font-size: 44px;
  font-weight: 600;
  width: 100%;
  letter-spacing: 8.8px;
  font-family: "Poppins", sans-serif;
}
.heading h1 {
  display: inline-block;
  margin-top: 250px;
}

.main-par {
  margin-top: 10px;
}
.main-par p {
  font-family: "Poppins", sans-serif;
  color: #8b8b99;
  letter-spacing: 0.5px;
}
#steps-section {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: stretch;
}
.step-item {
  width: 25%;
  padding: 112px 48px;
  color: white;
}
#frst-step {
  background-color: #5acda6;
}
#second-step {
  background-color: #91ac41;
}

#third-step {
  background-color: #e4b476;
}
#forth-step {
  background-color: #f69dad;
}
.step-item i {
  font-size: 96px;
}
.step-item h3 {
  font-weight: 600;
  font-size: 24px;
}
.main-section {
  height: 800px;
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
  background-size: cover;
}
.header nav {
  display: flex;
}

#second-section {
  background-color: #f7eee2;
  height: 850px;
}

.curve-text {
  display: inline-block;
  margin-top: 150px;
  font-family: "Caveat", cursive;
  color: #91ac70;
  font-size: 24px;
  margin: 35px 0 0;
}
.store {
  font-size: 44px;
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 0px;
}
#second-section .store-par {
  display: block;
  margin-top: 5px;
  color: #8b8b99;
  font-size: 16px;
  font-weight: 500;
}
#store-item-wrapper {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.store-item {
  width: 25%;
  margin-top: 60px;
}
.store-item .icon-wrapper {
  font-size: 50px;
  display: inline-block;
  background-color: #e3b375;
  border-radius: 50%;
  padding: 40px;
  color: white;
}
.store-item h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.store-item p {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}
p.store-par {
  color: #8b8b99;
}
#alumni-wrapper {
  display: flex;
  justify-content: stretch;
  width: 100%;
  margin: 0 165px;
  height: 550px;
}
.alumni-item img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 30px;
}
.alumni-item {
  width: 350px;
  margin-top: 100px;
  border: 1px solid #f5f6fb;
  padding: 15px 25px;
  background-color: #f5f6fb;
  border-radius: 40px 0px 40px 40px;
  margin-bottom: 30px;
}
.alumni-item p {
  font-size: 14px;
  color: #8b8b99;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}
.alumni-item h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 0px;
}
#third-section {
  height: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
div.alumni-item {
  margin: 80px 16px;
}
p.store-par {
  max-width: 700px;
  font-size: 14px;
  font-weight: 500;
  margin: 15px auto;
  color: #8b8b99;
  letter-spacing: 0.5px;
}
#follow-section {
  display: flex;
  background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
  background-position: initial;
}
.right-section {
  display: inline-block;
  text-align: center;
}
.right-section h3 {
  font-size: 44px;
  font-weight: 600;
  margin-top: 120px;
}
.right-section p {
  font-size: 16px;
  color: #8b8b99;
  letter-spacing: 0.5;
}
.right-section input {
  padding: 12px 100px;
  margin-top: 40px;
  padding-left: 5px;
  border: 1px solid white;
  border-radius: 3px;
}
.right-section input::placeholder {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 0px;
  margin-left: 0px;
  font-weight: 600;
}
.right-section button {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: #f69dad;
  border: 1px solid #f69dad;
  color: white;
  font-weight: 600;
  margin-left: -110px;
  border-radius: 3px;
}

section#experience {
  height: 250px;
  margin-top: 0;
}

#experience {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 100px 10px;
  background-color: #f6fcfa;
}
.experience-wrapper h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0px;
  margin-top: 70px;
}
.experience-wrapper p {
  color: #57e3b5;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  margin: 0;
}
.video-heading h3 {
  font-size: 44px;
  font-weight: 400;
  color: #8b8b99;
  text-align: center;
}
hr {
  width: 5%;
  height: 1px;
  border: 1px solid #e3b375;
}
.video {
  width: 100%;
}
iframe {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
section.video-content {
  height: 700px;
}
#last-section {
  display: flex;
  justify-content: space-between;
}

div.adrress-wrapper {
  display: flex;
  margin-right: 40;
  margin-left: 250px;
  height: 700px;
}
div.left-last-section {
  margin: 0px 4px;
}
div.right-last-section {
  margin-left: 120px;
}

.green-heading {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 35px;
}

.h3-content {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  font-weight: bold;
}
.description {
  font-size: 16px;
  font-weight: 400;
  color: #8b8b99;
  letter-spacing: 0.5px;
  line-height: 2;
  margin: 0;
}
.store-address {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 32px;
}
.address {
  font-size: 16px;
  font-weight: 400;
  color: #8b8b99;
  letter-spacing: 0.5px;
  line-height: 2;
  margin: 0;
}
.input-box {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  color: #8b8b99;
  border-radius: 6px;
  border: 1px solid #e5e6ec;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.input-button {
  color: white;
  background-color: #aad236;
  padding: 8px 30px;
  border: 1px solid #aad236;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
#top-one {
  margin-top: 10px;
}
.footer-ctn {
  background-color: #232323;
  color: white;
  text-align: center;
  height: 80px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 30px 0;
}
